In [41]:
import pandas as pd

## 1- loading DataSets

In [42]:

df = pd.read_csv('../data/results.csv', encoding='latin-1')
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2-Preprocessing

In [43]:
df.dtypes

Season       object
DateTime     object
HomeTeam     object
AwayTeam     object
FTHG          int64
FTAG          int64
FTR          object
HTHG        float64
HTAG        float64
HTR          object
Referee      object
HS          float64
AS          float64
HST         float64
AST         float64
HC          float64
AC          float64
HF          float64
AF          float64
HY          float64
AY          float64
HR          float64
AR          float64
dtype: object

In [44]:
# Convert DateTime column to datetime type and extract only date (remove time)
df['DateTime'] = pd.to_datetime(df['DateTime']).dt.date
# Convert back to datetime (but keeping only date part)
df['DateTime'] = pd.to_datetime(df['DateTime'])

# Verify the conversion
print(df.dtypes)

Season              object
DateTime    datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                 object
HTHG               float64
HTAG               float64
HTR                 object
Referee             object
HS                 float64
AS                 float64
HST                float64
AST                float64
HC                 float64
AC                 float64
HF                 float64
AF                 float64
HY                 float64
AY                 float64
HR                 float64
AR                 float64
dtype: object

In [45]:
df.columns

Index(['Season', 'DateTime', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC',
       'HF', 'AF', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [46]:
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop(columns=['Referee'], inplace=True)

In [59]:
df.drop(columns=['HTR'], inplace=True)

In [60]:
df['Season'] = df['Season'].str.split('-').str[0].astype(int)
df['Season']

AttributeError: Can only use .str accessor with string values!

In [49]:
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993,1993-08-14,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993,1993-08-14,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993,1993-08-14,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,1993-08-14,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993,1993-08-14,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df.dtypes

Season               int64
DateTime    datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                 object
HTHG               float64
HTAG               float64
HTR                 object
HS                 float64
AS                 float64
HST                float64
AST                float64
HC                 float64
AC                 float64
HF                 float64
AF                 float64
HY                 float64
AY                 float64
HR                 float64
AR                 float64
dtype: object

In [52]:
df.drop(df[(df['Season'] >= 1993) & (df['Season'] < 2000)].index, inplace=True)
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
2824,2000,2000-08-19,Charlton,Man City,4,0,H,2.0,0.0,H,...,14.0,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0
2825,2000,2000-08-19,Chelsea,West Ham,4,2,H,1.0,0.0,H,...,10.0,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0
2826,2000,2000-08-19,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,...,3.0,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0
2827,2000,2000-08-19,Derby,Southampton,2,2,D,1.0,2.0,A,...,4.0,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0
2828,2000,2000-08-19,Leeds,Everton,2,0,H,2.0,0.0,H,...,8.0,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0

In [53]:
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
2824,2000,2000-08-19,Charlton,Man City,4,0,H,2.0,0.0,H,...,14.0,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0
2825,2000,2000-08-19,Chelsea,West Ham,4,2,H,1.0,0.0,H,...,10.0,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0
2826,2000,2000-08-19,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,...,3.0,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0
2827,2000,2000-08-19,Derby,Southampton,2,2,D,1.0,2.0,A,...,4.0,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0
2828,2000,2000-08-19,Leeds,Everton,2,0,H,2.0,0.0,H,...,8.0,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0

In [54]:
df.reset_index(drop=True, inplace=True)
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2000,2000-08-19,Charlton,Man City,4,0,H,2.0,0.0,H,...,14.0,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0
1,2000,2000-08-19,Chelsea,West Ham,4,2,H,1.0,0.0,H,...,10.0,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0
2,2000,2000-08-19,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,...,3.0,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0
3,2000,2000-08-19,Derby,Southampton,2,2,D,1.0,2.0,A,...,4.0,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0
4,2000,2000-08-19,Leeds,Everton,2,0,H,2.0,0.0,H,...,8.0,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0

In [55]:
df['FTR'] = df['FTR'].map({'H': 1, 'A': -1, 'D': 0})

In [56]:
df['FTR'] = df['FTR'].astype('float64')

In [57]:
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2000,2000-08-19,Charlton,Man City,4,0,1.0,2.0,0.0,H,...,14.0,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0
1,2000,2000-08-19,Chelsea,West Ham,4,2,1.0,1.0,0.0,H,...,10.0,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0
2,2000,2000-08-19,Coventry,Middlesbrough,1,3,-1.0,1.0,1.0,D,...,3.0,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0
3,2000,2000-08-19,Derby,Southampton,2,2,0.0,1.0,2.0,A,...,4.0,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0
4,2000,2000-08-19,Leeds,Everton,2,0,1.0,2.0,0.0,H,...,8.0,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0

In [58]:
df.dtypes

Season               int64
DateTime    datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                float64
HTHG               float64
HTAG               float64
HTR                 object
HS                 float64
AS                 float64
HST                float64
AST                float64
HC                 float64
AC                 float64
HF                 float64
AF                 float64
HY                 float64
AY                 float64
HR                 float64
AR                 float64
dtype: object

In [ ]:
import pandas as pd
def calculate_win_rates_simple(df, window=10):

    # Initialize win rate columns
    df['home_team_winrate'] = 0.0
    df['away_team_winrate'] = 0.0
    df['home_team_home_winrate'] = 0.0
    df['away_team_away_winrate'] = 0.0

    print(f"Processing {len(df)} matches...")

    # Process each match
    for idx in range(len(df)):
        if idx % 1000 == 0:
            print(f"Processed {idx}/{len(df)} matches")

        current_match = df.iloc[idx]
        home_team = current_match['HomeTeam']
        away_team = current_match['AwayTeam']
        current_date = current_match['DateTime']

        # Get previous matches before current date
        prev_matches = df[df['DateTime'] < current_date]

        if len(prev_matches) > 0:
            # HOME TEAM - Overall win rate
            home_team_prev = prev_matches[
                (prev_matches['HomeTeam'] == home_team) |
                (prev_matches['AwayTeam'] == home_team)
            ].tail(window)

            if len(home_team_prev) > 0:
                home_wins = len(home_team_prev[
                    ((home_team_prev['HomeTeam'] == home_team) & (home_team_prev['FTR'] == 1)) |
                    ((home_team_prev['AwayTeam'] == home_team) & (home_team_prev['FTR'] == 2))
                ])
                df.iloc[idx, df.columns.get_loc('home_team_winrate')] = home_wins / len(home_team_prev)

            # AWAY TEAM - Overall win rate
            away_team_prev = prev_matches[
                (prev_matches['HomeTeam'] == away_team) |
                (prev_matches['AwayTeam'] == away_team)
            ].tail(window)

            if len(away_team_prev) > 0:
                away_wins = len(away_team_prev[
                    ((away_team_prev['HomeTeam'] == away_team) & (away_team_prev['FTR'] == 1)) |
                    ((away_team_prev['AwayTeam'] == away_team) & (away_team_prev['FTR'] == 2))
                ])
                df.iloc[idx, df.columns.get_loc('away_team_winrate')] = away_wins / len(away_team_prev)

            # HOME TEAM - Home-specific win rate
            home_at_home = prev_matches[prev_matches['HomeTeam'] == home_team].tail(window)
            if len(home_at_home) > 0:
                home_home_wins = len(home_at_home[home_at_home['FTR'] == 1])
                df.iloc[idx, df.columns.get_loc('home_team_home_winrate')] = home_home_wins / len(home_at_home)

            # AWAY TEAM - Away-specific win rate
            away_at_away = prev_matches[prev_matches['AwayTeam'] == away_team].tail(window)
            if len(away_at_away) > 0:
                away_away_wins = len(away_at_away[away_at_away['FTR'] == 2])
                df.iloc[idx, df.columns.get_loc('away_team_away_winrate')] = away_away_wins / len(away_at_away)

    print("Win rate calculation completed!")
    return df

# Apply the simple calculation
print("Starting win rate calculation with simple approach...")
df = calculate_win_rates_simple(df, window=10)

# Verify results
print(f"\nWin rate calculation complete!")
print(f"Sample of recent matches:")
sample_cols = ['DateTime', 'HomeTeam', 'AwayTeam', 'FTR',
               'home_team_winrate', 'away_team_winrate',
               'home_team_home_winrate', 'away_team_away_winrate']
print(df[sample_cols].tail(10))

# Check for Liverpool example
liverpool_matches = df[(df['AwayTeam'] == 'Liverpool')].tail(5)
print(f"\nLiverpool away matches (last 5):")
print(liverpool_matches[['DateTime', 'HomeTeam', 'away_team_winrate', 'away_team_away_winrate']])

Starting win rate calculation with simple approach...
Processing 11113 matches...
Processed 0/11113 matches
Processed 1000/11113 matches
Processed 2000/11113 matches
Processed 3000/11113 matches
Processed 4000/11113 matches
Processed 5000/11113 matches
Processed 6000/11113 matches
Processed 7000/11113 matches
Processed 8000/11113 matches
Processed 9000/11113 matches
Processed 10000/11113 matches
Processed 11000/11113 matches
Win rate calculation completed!

Win rate calculation complete!
Sample of recent matches:
        DateTime     HomeTeam        AwayTeam  FTR  home_team_winrate  \
11103 2022-04-08    Newcastle          Wolves  1.0                0.6
11104 2022-04-09      Everton      Man United  1.0                0.2
11105 2022-04-09      Arsenal        Brighton  2.0                0.6
11106 2022-04-09  Southampton         Chelsea  2.0                0.3
11107 2022-04-09      Watford           Leeds  2.0                0.2
11108 2022-04-09  Aston Villa       Tottenham  2.0                0.4
11109 2022-04-10    Brentford        West Ham  1.0                0.3
11110 2022-04-10    Leicester  Crystal Palace  1.0                0.3
11111 2022-04-10      Norwich         Burnley  1.0                0.2
11112 2022-04-10     Man City       Liverpool  0.0                0.7

       away_team_winrate  home_team_home_winrate  away_team_away_winrate
11103                0.5                     0.4                     0.5
11104                0.5                     0.3                     0.4
11105                0.1                     0.7                     0.2
11106                0.5                     0.4                     0.6
11107                0.2                     0.1                     0.2
11108                0.6                     0.3                     0.5
11109                0.4                     0.4                     0.2
11110                0.3                     0.5                     0.3
11111                0.3                     0.2                     0.1
11112                1.0                     0.8                     0.6

Liverpool away matches (last 5):
        DateTime        HomeTeam  away_team_winrate  away_team_away_winrate
11015 2022-01-23  Crystal Palace                0.7                     0.5
11033 2022-02-13         Burnley                0.7                     0.5
11075 2022-03-12        Brighton                0.7                     0.6
11086 2022-03-16         Arsenal                0.8                     0.6
11112 2022-04-10        Man City                1.0                     0.6

In [12]:
df[ (df['AwayTeam'] == 'Liverpool')].tail(11)

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HF,AF,HY,AY,HR,AR,home_team_winrate,away_team_winrate,home_team_home_winrate,away_team_away_winrate
10913,2021-22,2021-11-07,West Ham,Liverpool,3,2,1.0,1.0,1.0,D,...,11.0,6.0,1.0,1.0,0.0,0.0,0.6,0.6,0.4,0.8
10940,2021-22,2021-12-01,Everton,Liverpool,1,4,2.0,1.0,2.0,A,...,8.0,16.0,4.0,3.0,0.0,0.0,0.2,0.6,0.4,0.7
10946,2021-22,2021-12-04,Wolves,Liverpool,0,1,2.0,0.0,0.0,D,...,4.0,7.0,2.0,2.0,0.0,0.0,0.5,0.6,0.4,0.8
10972,2021-22,2021-12-19,Tottenham,Liverpool,2,2,0.0,1.0,1.0,D,...,12.0,11.0,4.0,4.0,0.0,1.0,0.5,0.8,0.7,0.8
10983,2021-22,2021-12-28,Leicester,Liverpool,1,0,1.0,0.0,0.0,D,...,8.0,11.0,0.0,1.0,0.0,0.0,0.4,0.7,0.4,0.7
10993,2021-22,2022-01-02,Chelsea,Liverpool,2,2,0.0,2.0,2.0,D,...,5.0,13.0,1.0,2.0,0.0,0.0,0.4,0.6,0.5,0.6
11015,2021-22,2022-01-23,Crystal Palace,Liverpool,1,3,2.0,0.0,2.0,A,...,12.0,10.0,4.0,1.0,0.0,0.0,0.2,0.7,0.4,0.5
11033,2021-22,2022-02-13,Burnley,Liverpool,0,1,2.0,0.0,1.0,A,...,7.0,6.0,0.0,1.0,0.0,0.0,0.0,0.7,0.1,0.5
11075,2021-22,2022-03-12,Brighton,Liverpool,0,2,2.0,0.0,1.0,A,...,12.0,15.0,3.0,1.0,0.0,0.0,0.2,0.7,0.1,0.6
11086,2021-22,2022-03-16,Arsenal,Liverpool,0,2,2.0,0.0,0.0,D,...,9.0,9.0,0.0,1.0,0.0,0.0,0.8,0.8,0.8,0.6
11112,2021-22,2022-04-10,Man City,Liverpool,2,2,0.0,2.0,1.0,H,...,9.0,11.0,1.0,4.0,0.0,0.0,0.7,1.0,0.8,0.6

In [ ]:
# Modified win rate calculation that excludes draws
def calculate_win_rates_no_draws(df, window=10):
    """
    Calculate win rates excluding draws - only wins and losses count
    """
    # Sort by date and reset index
    df = df.sort_values('DateTime').reset_index(drop=True).copy()

    # Initialize win rate columns
    df['home_team_winrate'] = 0.0000
    df['away_team_winrate'] = 0.0000
    df['home_team_home_winrate'] = 0.0000
    df['away_team_away_winrate'] = 0.0000

    print(f"Processing {len(df)} matches (excluding draws from win rate)...")

    # Process each match
    for idx in range(len(df)):
        if idx % 1000 == 0:
            print(f"Processed {idx}/{len(df)} matches")

        current_match = df.iloc[idx]
        home_team = current_match['HomeTeam']
        away_team = current_match['AwayTeam']
        current_date = current_match['DateTime']

        # Get previous matches before current date
        prev_matches = df[df['DateTime'] < current_date]

        if len(prev_matches) > 0:
            # HOME TEAM - Overall win rate (excluding draws)
            home_team_prev = prev_matches[
                (prev_matches['HomeTeam'] == home_team) |
                (prev_matches['AwayTeam'] == home_team)
            ].tail(window)

            # Filter out draws (FTR != 0) for win rate calculation
            home_team_no_draws = home_team_prev[home_team_prev['FTR'] != 0]

            if len(home_team_no_draws) > 0:
                home_wins = len(home_team_no_draws[
                    ((home_team_no_draws['HomeTeam'] == home_team) & (home_team_no_draws['FTR'] == 1)) |
                    ((home_team_no_draws['AwayTeam'] == home_team) & (home_team_no_draws['FTR'] == 2))
                ])
                df.iloc[idx, df.columns.get_loc('home_team_winrate')] = home_wins / len(home_team_no_draws)

            # AWAY TEAM - Overall win rate (excluding draws)
            away_team_prev = prev_matches[
                (prev_matches['HomeTeam'] == away_team) |
                (prev_matches['AwayTeam'] == away_team)
            ].tail(window)

            # Filter out draws (FTR != 0) for win rate calculation
            away_team_no_draws = away_team_prev[away_team_prev['FTR'] != 0]

            if len(away_team_no_draws) > 0:
                away_wins = len(away_team_no_draws[
                    ((away_team_no_draws['HomeTeam'] == away_team) & (away_team_no_draws['FTR'] == 1)) |
                    ((away_team_no_draws['AwayTeam'] == away_team) & (away_team_no_draws['FTR'] == 2))
                ])
                df.iloc[idx, df.columns.get_loc('away_team_winrate')] = away_wins / len(away_team_no_draws)

            # HOME TEAM - Home-specific win rate (excluding draws)
            home_at_home = prev_matches[prev_matches['HomeTeam'] == home_team].tail(window)
            home_at_home_no_draws = home_at_home[home_at_home['FTR'] != 0]

            if len(home_at_home_no_draws) > 0:
                home_home_wins = len(home_at_home_no_draws[home_at_home_no_draws['FTR'] == 1])
                df.iloc[idx, df.columns.get_loc('home_team_home_winrate')] = home_home_wins / len(home_at_home_no_draws)

            # AWAY TEAM - Away-specific win rate (excluding draws)
            away_at_away = prev_matches[prev_matches['AwayTeam'] == away_team].tail(window)
            away_at_away_no_draws = away_at_away[away_at_away['FTR'] != 0]

            if len(away_at_away_no_draws) > 0:
                away_away_wins = len(away_at_away_no_draws[away_at_away_no_draws['FTR'] == 2])
                df.iloc[idx, df.columns.get_loc('away_team_away_winrate')] = away_away_wins / len(away_at_away_no_draws)

    print("Win rate calculation completed (draws excluded)!")
    return df

# Apply the modified calculation
print("Starting win rate calculation (excluding draws)...")
df = calculate_win_rates_no_draws(df, window=10)

# Verify results
print(f"\nWin rate calculation complete!")
print("Note: Win rates now exclude draws - only wins vs losses count")
print(f"Sample of recent matches:")
sample_cols = ['DateTime', 'HomeTeam', 'AwayTeam', 'FTR',
               'home_team_winrate', 'away_team_winrate',
               'home_team_home_winrate', 'away_team_away_winrate']
print(df[sample_cols].tail(10))

# Check for Liverpool example
liverpool_matches = df[(df['AwayTeam'] == 'Liverpool')].tail(5)
print(f"\nLiverpool away matches (last 5):")
print(liverpool_matches[['DateTime', 'HomeTeam', 'away_team_winrate', 'away_team_away_winrate']])

Starting win rate calculation (excluding draws)...
Processing 11113 matches (excluding draws from win rate)...
Processed 0/11113 matches
Processed 1000/11113 matches
Processed 2000/11113 matches
Processed 3000/11113 matches
Processed 4000/11113 matches
Processed 5000/11113 matches
Processed 6000/11113 matches
Processed 7000/11113 matches
Processed 8000/11113 matches
Processed 9000/11113 matches
Processed 10000/11113 matches
Processed 11000/11113 matches
Win rate calculation completed (draws excluded)!

Win rate calculation complete!
Note: Win rates now exclude draws - only wins vs losses count
Sample of recent matches:
        DateTime     HomeTeam        AwayTeam  FTR  home_team_winrate  \
11103 2022-04-08    Newcastle          Wolves  1.0           0.666667
11104 2022-04-09  Aston Villa       Tottenham  2.0           0.444444
11105 2022-04-09      Everton      Man United  1.0           0.200000
11106 2022-04-09      Arsenal        Brighton  2.0           0.666667
11107 2022-04-09  Southampton         Chelsea  2.0           0.428571
11108 2022-04-09      Watford           Leeds  2.0           0.250000
11109 2022-04-10    Leicester  Crystal Palace  1.0           0.428571
11110 2022-04-10      Norwich         Burnley  1.0           0.250000
11111 2022-04-10    Brentford        West Ham  1.0           0.333333
11112 2022-04-10     Man City       Liverpool  0.0           0.875000

       away_team_winrate  home_team_home_winrate  away_team_away_winrate
11103           0.500000                0.666667                0.555556
11104           0.600000                0.375000                0.625000
11105           0.833333                0.333333                0.666667
11106           0.142857                0.777778                0.400000
11107           0.714286                0.666667                0.750000
11108           0.250000                0.100000                0.250000
11109           0.600000                0.625000                0.500000
11110           0.375000                0.250000                0.200000
11111           0.500000                0.444444                0.250000
11112           1.000000                0.800000                0.750000

Liverpool away matches (last 5):
        DateTime        HomeTeam  away_team_winrate  away_team_away_winrate
11015 2022-01-23  Crystal Palace           0.875000                0.714286
11033 2022-02-13         Burnley           0.875000                0.714286
11076 2022-03-12        Brighton           0.875000                0.750000
11086 2022-03-16         Arsenal           0.888889                0.750000
11112 2022-04-10        Man City           1.000000                0.750000

In [17]:
df.tail()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HF,AF,HY,AY,HR,AR,home_team_winrate,away_team_winrate,home_team_home_winrate,away_team_away_winrate
11108,2021-22,2022-04-09,Watford,Leeds,0,3,2.0,0.0,1.0,A,...,8.0,12.0,2.0,0.0,0.0,0.0,0.250000,0.250,0.100000,0.25
11109,2021-22,2022-04-10,Leicester,Crystal Palace,2,1,1.0,2.0,0.0,H,...,11.0,12.0,1.0,1.0,0.0,0.0,0.428571,0.600,0.625000,0.50
11110,2021-22,2022-04-10,Norwich,Burnley,2,0,1.0,1.0,0.0,H,...,12.0,10.0,1.0,1.0,0.0,0.0,0.250000,0.375,0.250000,0.20
11111,2021-22,2022-04-10,Brentford,West Ham,2,0,1.0,0.0,0.0,D,...,2.0,6.0,0.0,1.0,0.0,0.0,0.333333,0.500,0.444444,0.25
11112,2021-22,2022-04-10,Man City,Liverpool,2,2,0.0,2.0,1.0,H,...,9.0,11.0,1.0,4.0,0.0,0.0,0.875000,1.000,0.800000,0.75